In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('data/enrolment_1.csv')
df["status"] = "allowed"

In [8]:
boolean1 = df["course name"] == "infomation technology"
boolean2 = df["year"] == 1
df.loc[boolean1 & boolean2, "status"] = "not allowed"

In [9]:
boolean3 = df["course name"] == "commerce"
boolean4 = df["year"] == 4
df.loc[boolean3 & boolean4, "status"] = "not allowed"

In [10]:
allowed = df["status"] == "allowed"

In [11]:
course_counts = df.loc[allowed, "course name"].value_counts()

In [12]:
closed_courses = list(course_counts[course_counts < 5].index)

In [14]:
for course in closed_courses:
    df.loc[df["course name"] == course, "status"] = "not allowed"

In [15]:
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]